@import './var.less';
@import './mixin.less';

.text {
  #text();
}

.wrapper {
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px;
  padding: 0 20px;
  font-size: 24px;
  color: #727272;
  border-radius: 6px;
}

.btn:active {
  #shadow();
}
